:root {
  --boxWidth: 500px;
  --boxHeight: 200px;
  --boxPadding: 20px;
}
body {
  background: #6ee7b7;
}
main {
  height: 100vh;
}
#quote-box {
  box-sizing: border-box;
  margin: 10vh auto;
  max-width: var(--boxWidth);
  height: var(--boxHeight);
  padding: var(--boxPadding);
  background: #fff;
  color: #064e3b;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

button,
.button {
  background: #10b981;
  border: none;
  border-radius: 0.5em;
  padding: 0.5rem 1rem;
  color: #fff;
  margin: none;
  text-decoration: none;
}